input{
    border: none;
    padding: 0.7rem 0.2rem 0.7rem 0.2rem;
    outline: none;
    width: 90%;
    max-width: 300px;
    border-radius: 2px;
}
input::placeholder{
    color: rgb(201, 200, 200);
    font-size: 1rem;
}