*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    font-family: 'Bebas Neue', cursive;
    background-color: #1F2833;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.title{
    /* background-color: aquamarine; */
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{font-size: 3rem;color: white;}
.title span{color: limegreen;}
@media screen and (max-width:500px) {
    html{font-size: 12px;}
}